@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?28au2j');
  src:  url('../fonts/icomoon.eot?28au2j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?28au2j') format('truetype'),
    url('../fonts/icomoon.woff?28au2j') format('woff'),
    url('../fonts/icomoon.svg?28au2j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Fjalla One', sans-serif;   
	line-height: 1.5;
	letter-spacing: -.2px;
	text-transform: uppercase;
}
h1{
	font-size: 40px;
	line-height: 1.5;
	letter-spacing: -.2px;
	color: #fff;
	margin: 0px;
}
h2{
	margin: 0px;
}
h1 strong{
	color: #026fff;
}
h2{
	color: #026fff;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 40px;
}
ol{
	margin: 0px;
}
.hero{
	height: 300px;
	/* background-image: url('../images/hero.jpg'); */
	background-color: #1d252c;
	/* background-size: 500px 300px; */
	/* background-repeat: no-repeat; */
	/* background-position-x:  right; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.hero-img{
	object-fit: cover;
}
.project{
	border: 1px solid gray;
	border-radius: 10px;
	/* margin: 10px; */
	padding: 20px;
	margin-bottom: 15px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.portfolio{
	background:  #fafafa;
	padding: 20px; 
}
.project-details{
	width: 50%;
	/* height: 200px;  */	
}
.project-title{
	font-size: 30px;
	margin: 0px 0 10px;
}
.project-imageContainer{
	width: 50%;
}
.project-imageContainer img{
	max-width: 100%;
	width: 100%;
}
.project-course, .project-date .project-url{
	margin: 10px 0;
}
.project-description{
	font-size: 20px;
}
.project strong{
	font-family: 'Fjalla One', sans-serif;   
}
.header{
	background-color: #1d252c;
	color: #fff;
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
	flex-wrap: wrap;
}

ol, ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
figure{
	margin: 0;
}
.header a{
	color: #fff;
	text-decoration: none;
} 
.menu{
	height: inherit;
}
.header ol{
	display: flex;
	height: inherit;
	align-items: center;
}
.heder ol li{
	height: inherit;
}
.header ol li a{
	display: flex;
	align-items: center;	
	height: inherit;
	padding: 0 10px;	
}
.footer{
	background: #1d252c;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer img{
	vertical-align: middle;
}
.footer a{
	color: white;
}
.event-list{
	display: flex;
	flex-wrap: wrap;
}
.event-list-title{
	margin-left: 20px;
}
.event{
	margin: 10px;
	width: 480px;
	border-radius: 10px;
	overflow: hidden;
	flex-shrink: 0;
	background: #f4fbff;
}
.event img{
	width: 480px;
	height: 200px;
	object-fit: cover;
}
.event-detail{
	margin: 20px 40px;
	background: white;
	margin-top: -40px;
	position: relative;
	padding: 20px;
	text-align: center;
}
.event-description{
	text-align: left;
}
.event-url{
	border: 1px solid #056fff;
	padding: 5px 20px;
	text-decoration: none;
	color: #056fff;
	border-radius: 5px;
}
.contact{
	background: #056fff;
	color: white;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.social{

}
.social-link
{
	width: 50px;
	height: 50px;
	display: inline-block;
	margin:  0 10px;
}
.social-link.twitter{
	background: url("../images/twitter.svg");
	background-size: 50px 50px; 
}
.social-link.facebook{
	background: url("../images/facebook.svg");
	background-size: 50px 50px; 
}
.social-link.github{
	background: url("../images/github.svg");
	background-size: 50px 50px; 
}
.social-link.instagram{
	background: url("../images/instagram.svg");
	background-size: 50px 50px; 
}
.form-email input{
	border-color:  gray;
	padding: 10px 20px 10px 25px;
	border-radius: 5px;
	border-style: solid;
	background-color: white;
	background-image:  url("../images/envelope.svg");
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position-y:  center;
	background-position-x:  5px;
}
.form-email button{
	display: block;
	margin-top: 10px;
	background: transparent;
	color: white;
	padding: 10px 0px;
	border-radius: 5px;
	width: 100px;
	border-style: solid;
}
.form-email h3{
	font-family: 'Source Sans Pro', sans-serif;

}
.container{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
	flex-wrap: inherit;
	flex: 1;
}
.burger-button{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0,0,0,.8);
	display: none;
	line-height: 40px;
	text-align: center;
	position: fixed;
	z-index: 4;
	left: 5px;
	top: 5px;
	color: white;
	/* font-size: 50px; */
}

@media screen and (max-width: 1024px){
	.container{
		padding: 0 1em;
		width: auto;
	}
	.hero{
		height: auto;
		position: relative;
		overflow: hidden;
		padding: 2em;
	}
	.hero-img{
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;
	}
	h1{
		font-size: 2em;
		z-index: 2;
	}
}
@media screen and (max-width: 767px){
	.burger-button{
		display: block;
	}
	.header a{
		font-size: 2em;
		text-decoration: underline;
		margin-bottom: .5em;
	}
	.menu{
		position: fixed;
		background: rgba(5, 111, 255, .9);
		z-index: 3;
		top: 0;
		left: -100vw;
		width: 100vw;
		/* height: 100vh; */
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.menu.is-active{
		left: 0;
	}
	
	.header{
		display: block;
		height: auto;
	}
	.header ol{
		display: block;
	}
	.header ol li{
		height: 50px;
	}
	.header a{
		justify-content: center;
	}
	.header .logo{
		text-align: center;
	}
	.project{
		display: block;
	}
	.project-imageContainer{
		width: auto;
		text-align: center;
	}
	.project-details{
		width: auto;
		font-size:10px;
	}
	.project-title{
		font-size:1.5em;	
		margin-bottom: .3em;
	}
	.project-url{
		font-size: 1em;
	}
	.project-course{
		font-size: .7em;
	}
	.project-date{
		font-size: 1.2em;
	}
	.project-description{
		font-size: .8em;
	}
	.project-course, .project-date .project-url{
		margin: .em o;
	}
}
@media screen and (max-width: 480px){
	h1{
		font-size: 1.5em;
	}
	.project-details{
		font-size: 12px;
	}
	.contact{
		height: auto;
		padding: 1em 0;
		text-align: center;
		display: block;
	}
	.form-email button{
		margin: 1.5em auto;
	}
	.form-email h3{
		margin-top: 0;
	}
	.footer{
		display: block;
		text-align: center;
		padding: 1px;
	}
}
@media screen and (max-width: 320px){
	h1{
		font-size: 1.2em;
	}
	.hero{
		padding: 2em 1em;
	}
}